.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--darkblue);
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  height: 200px;
  width: 300px;
  margin: 16px 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #bee9fe;
  border-radius: 17px;
  cursor: pointer;
  text-decoration: none !important;
}

.main .categories .category h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000066;
  text-decoration: none !important;
  border: none;
}

.para {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #dbffff;
  opacity: 0.9;
  margin: 40px 0;
}

.button {
  background: #81d5fe;
  box-shadow: 0px 0px 6px 1px rgba(129, 212, 254, 0.3);
  border-radius: 47px;
  border: none;
  outline: none;
  padding: 6px 3rem;
  color: #000080;
  font-family: Poppins;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .categories {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
  }
  .category {
    width: 70%;
    height: 80px;
    flex-direction: row;
    justify-content: start;
    padding: 0 3rem;
  }
  .main .categories .category img {
    height: 70%;
    margin-right: 3rem;
  }
  .main .categories .category h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .para {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media (max-width: 500px) {
  .categories {
    margin-top: 55px;
  }
  .category {
    width: 85%;
    height: 70px;
    border-radius: 5px;
    padding: 0 2rem;
  }
  .main .categories .category img {
    margin-right: 2rem;
  }
  .main .categories .category h2 {
    font-size: 27px;
    line-height: 38px;
  }
  .para {
    font-size: 20px;
    line-height: 30px;
  }
  .button {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4.3rem;
  }
}
